.wrapper {
    width: 348px;
    padding: 20px 0px 26px 8px;
}
.gruop-menu {
    padding: 16px 0px;
    border-bottom: 1px solid rgba(22,24,35,0.1);
}
.title-menu {
    padding: 0 8px;
    margin-bottom: 9px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 550;
    color: rgba(22,24,35,0.5);
}